<%- include('../partials/header') %>

<h1 class="title">Edit Journal Form</h1>

<form action="/journals/<%= journal._id %>?_method=PUT" method="POST">
    Project Name: <input type="text" name="name" placeholder="<%= journal.name %>">
    <br>
    Location: <input type="text" name="location" placeholder="<%= journal.location %>"><br>
    Wall Type: <select name="type">
    <option value="Sport">Sport</option>
    <option value="Trad">Traditional</option>
    <option value="Top-Tope">Top-Rope</option>
    <option value="Boulder">Boulder</option>
    </select>
    <br>
    Grade: <select name="grade">
    <option value="5.1-5.8 || VB">5.1-5.8 || VB</option>
    <option value="5.9-1.10- || V0">5.9-5.10- || V0</option>
    <option value="5.10+ || V1">5.10+ || V1</option>
    <option value="5.11- || V2">5.11- || V2</option>
    <option value="5.11+ || V3">5.11+ || V3</option>
    <option value="5.12- || V4">5.12- || V4</option>
    <option value="5.12 || V5">5.12 || V5</option>
    <option value="5.12+ || V6">5.12+ || V6</option>
    <option value="5.13- || V7">5.13- || V7</option>
    <option value="5.13 || V8">5.13 || V8</option>
    <option value="5.13+ || V9">5.13+ || V9</option>
    <option value="5.14- || V10">5.14- || V10</option>
    </select>
    <br>
    Start Date: <input type="date" name="startDate">
     <br>
    <textarea name="description" id="" cols="30" rows="5" placeholder="<%= journal.description %>"></textarea>
    <br>
    <input class="button is-success" type="submit" value="Edit Project">
    </form>
<a class="button is-warning" href="/journals">Go back</a>
   
<%- include('../partials/footer') %>
   
