<%- include('../partials/header') %>

<h1>My Journals</h1>

<% journals.forEach(function(journal) { %>
<p>
    ---------------------------------------------- <br>
    <b>Name: </b><%= journal.name %> <br>
    <b>Location: </b><%= journal.location %> <br>
    <b>Description: </b><%= journal.description %> <br>
    <b>Entries: </b><%= journal.projects.length %> <br>
    <a href="/journals/<%= journal.id %>">Explore this Journal</a> | <a href="/journals/<%= journal.id %>/deleteJournal">Delete Journal</a> <br>
    ----------------------------------------------
</p>
<% }); %>

<a href="/journals/new">Add a journal!</a>
<br>
<br>
<a href="/logout"><i class="material-icons left"></i>Log Out</a>
   
<%- include('../partials/footer') %>
   