<%- include('../partials/header') %>


<h1><%= title %></h1>
<h5>Projects: <%= journal.projects.length %></h5>
<br><br>

<% if(journal.projects.length > 0) { %>
    <% journal.projects.forEach(function(p) { %>
        ---------------------------------------------
        <p><%= p.name %> :: <%= p.type %> :: <%= p.grade %> <a href="/projects/<%= p._id %>">view</a> | <form action="/projects/<%= p._id %>?_method=DELETE" method="POST" class="delete-form">
            <button type="submit">Delete</button>
          </form>  </p>
         ---------------------------------------------
        <br>
    <% }) %>
<% } else { %>
    <p>There are no projects for this journal</p>
<% } %>


<a href="/journals/<%= journal._id %>/new">Add New Project</a><br>
<a href="/journals">Back to Journals</a>

<%- include('../partials/header') %>
