<%- include('../partials/header') %>


<h1><%= title %></h1>
<h1><%= journal.type %></h1>
<h1><%= journal.grade %></h1>
<h2><%= journal.location %></h2>
<h2><%= journal.startDate %></h2>
<h3><%= journal.description %></h3>

<% if(journal.notes.length > 0) { %>
    <% journal.notes.forEach(function(n, idx) { %>
    
        <div class="notification">
             <%= n %>
        </div>
       
    <% }) %>
<% } else { %>
    <p>There are no notes for this project :(</p>
<% } %>

<form type="text" action="journals/<%= journal._id %>" method="POST">
    <textarea name="notes" id="" cols="30" rows="2"></textarea><br>
    <input class="button is-small is-success" type="submit" value="ADD NOTE!">
    </form>

    <a href="/journals">Back to Journals</a>


<%- include('../partials/header') %>
