<%- include('../partials/header') %>

<section class="hero is-medium">
    <div class="hero-header">
        <div class="container">
            <h1 class="title">
                <%= title %>
            </h1>
            <h2 class="subtitle">
                at <%= journal.location %>
            </h2>
        </div>
    </div>


    <p>
        <b>Type: </b><%= journal.type %>
        <b>Grade:</b><%= journal.grade %>
    </p>
    <p>
        <b>Date: </b><%= journal.startDate %>
    </p>

    <h3><%= journal.description %></h3>
    <div class="block hero-body">
        <% if(journal.notes.length > 0) { %>
        <% journal.notes.forEach(function(n, idx) { %>
        <div class="block">
            <form action="/notes/<%= n._id %>?_method=DELETE" method="POST" class="delete-form"> 
                <div class="notification">
                    <%= n.content %>
                    <button class="delete"></button>
                </div>
            </form>
        </div>

        <% }) %>
        <% } else { %>

        <p class="box">There are no notes for this project :(</p>
        <% } %>
    </div>
    <div class="hero-foot">
        <form type="text" action="/journals/<%= journal._id %>/notes" method="POST">
            <textarea name="content" id="" cols="100" rows="5"></textarea><br>
            <input class="button is-small is-dark" type="submit" value="ADD NOTE!">
            <a class="button is-small is-light" href="/journals">Back to Journals</a>
        </form>
    </div>
</section>




<%- include('../partials/header') %>
