<%- include('../partials/header') %>


<h1><%= title %></h1>
<h5>Projects: <%= journal.projects.length %></h5>
<br><br>

<% if(journal.projects.length > 0) { %>
    <% journal.projects.forEach(function(p) { %>
        ------------------------------------------------
        <p><%= p.name %> :: <%= p.type %> :: <%= p.grade %></p>
        ------------------------------------------------
    <% }) %>
<% } else { %>
    <p>There are no projects for this journal</p>
<% } %>


<a href="/journals/<%= journal._id %>/new">Add New Project</a><br>
<a href="/journals">Back to Journals</a>

<%- include('../partials/header') %>
