
<%- include('../partials/header') %>

<h3><%= proj.name %> at <%= journal.name %></h3>
<h3><%= proj.grade %></h3>
<h4><%= proj.startDate %></h4>
<% if (proj.endDate){ %>
<h4><%= proj.endDate %></h4>
<% } %>
<h3><%= proj.description %></h3>

<% if(proj.notes.length > 0) { %>
    <% proj.notes.forEach(function(n, idx) { %>
    
         <div class="notification">
             <button class="delete" href="/notes/delete"></button> 
             <%= n %>
        </div>
       
    <% }) %>
<% } else { %>
    <p>There are no notes for this project :(</p>
<% } %>

<br>

<form type="text" action="/projects/<%= proj._id %>" method="POST">
<textarea name="notes" id="" cols="30" rows="2"></textarea><br>
<input class="button is-small is-success" type="submit" value="ADD NOTE!">
</form>



<a href="/journals/<%= journal._id %>">Back to Projects</a><br>
<a href="/journals">Back to Journals</a>

<%- include('../partials/footer') %>